{% extends 'core/wrapper.html' %}

{% block title %}Поздравляем{% endblock %}

{% block content %}
    <h3>Поздравляем!</h3>
    <p>Вот-вот ты станешь рукой тьмы (но это не точно)</p>
    <p>Если же вдруг тебе повезет, то ты получишь оповещением по почте</p>
    <p>(буду рад, если на первой же миссии тебя не убьет джедай, </p>
    <p>а то нам даже пришлось нанимать веб-разработчика чтобы вербовать вас быстрее)</p>
    <a href="{% url 'core:main' %}"><button>На главную</button></a>
{% endblock %}